.App {
  width: 550px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: auto;
  height: auto;
}
.header {
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  color: rgba(175, 47, 47, 0.15);
}
